.que{
    display:inline-block;
    background-color:red;
    heigh:32px;
    line-height:32px;
    color:white;
    padding: 0 8px;
    margin-top:5px;
    margin-right: 5px;
    vertical-align:top;
  }
  .outBtn{
    display:inline-block;
  }