html{
    padding: 0;
    margin:0;
    font-size: 0;
}
body{
    font-size: 16px;
    padding: 0;
    margin:0;
    /* font-size: 0; */
}
div{
    font-size: 16px;    
}
div p{
    margin-top: 0;
}
#cover{
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background:rgb(27, 27, 25); 
    z-index: 100;
    opacity: 0.8;
    font-size: 16px;
    
}

#winBox{
    font-size: 16px;
    position: fixed;
    left: 50%;
    top:50%;
    border: 2px solid rgb(66, 61, 61);
    width: 500px;
    height: 200px;
    margin-left: -250px;
    margin-top:-100px;
    background: rgb(250, 246, 246);
    z-index: 101;
}
#winBox>div{
    position:relative;
}
#winBox>div h1{
    background-color: rgb(66, 61, 61);
    display: block;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    color: whitesmoke
}
#winBox>div p{
    padding: 10px;
}
#winBox>div ul{
    padding: 0;
    list-style: none;
    position: absolute;
    bottom:-200%;
    right:5%;
}
#winBox>div ul li{
    display: inline-block;
}
.cover button{
    z-index: 1;
}
#winBox>div button,.cover button{
    cursor: pointer;
    margin-left: 10px;
    border: none;   
    width: 70px;
    height:30px;
    background-color: rgb(90, 88, 88);
    color: whitesmoke;

}